{% extends 'base.html' %}

{% block content %}
    <div class='col-3'>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="IMagen del Producto" width="200" heigth="200">
        {% endif %}
    </div>
    <div class="col">
        <div class='h1'> {{ product.titulo }} </div>
        <div class='h5 font-weight-bold'>
            Precio: <span class="text-danger"> $ {{ product.precio }} </span>
        </div>
        <div class="">
            <p> {{ product.descripcion }} </p>
            <div class="">
                    {% include 'carts/snippets/add.html' %}
            </div>
        </div>
    </div>
{% endblock content %}